.opinions {
    background-color: inherit;
    width: 100%;
    height: auto;
    color: white;
    padding: 10vh 0 10vh 0;
}

.options__header {
    width: 80%;
    margin: 0 auto;
    font-size: 3rem;
    text-align: center;
}

.opinions__list {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 5%;
    padding-top: 20vh;
}

.opinions__item {
    width: 25vw;
    height: 17vw;
    position: relative;
}

.opinions__item::after {
    content: '';
    background-color: rgb(223, 100, 34);
    position: absolute;
    width: 5px;
    height: 100%;
}