.thankYou {
    color: white;
    width: 80%;
    margin: 0 auto 10vh auto;
}

.thankYou__header {
    font-size: 3em;
    padding: 10vh 0 10vh 0;
    text-align: center;
}

.thankYou__text {
    font-size: 1.5em;
    text-align: center;
    padding: 0 0 10vh 0;
}

.thankYou__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

.thankYou__button {
    padding: 20px 60px;
    background: none;
    border: 4px solid rgb(226, 224, 219);
    font-size: 1.5em;
    cursor: pointer;
    color: white;
    font-weight: 100;
    transition: all 300ms ease-in-out;
    width: 20vw;
}

.thankYou__button:hover {
    background-color: rgb(223, 100, 34);
    border: 4px solid rgb(223, 100, 34);
}