.phoneCall {
    position: fixed;
    top: 80%;
    left: 91%;
    z-index: 2;
}

.phoneCall__link {
    text-decoration: none;
}

.phoneCall__icon {
    color: whitesmoke;
    background-color: rgb(223, 100, 34);
    padding: 20px;
    border-radius: 50%;
    font-size: 2em;
}